﻿


<div class="container">
    <div class="page-header">
        <h3>Salons</h3>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-info" id="backToIndex" href="/Home/Index/">Salons</a>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div>
            </div>
            <br />
            @* hidden field *@
            <input type="hidden" id="salonid" value="0" />

            @*table*@
            <table id="salonTable"
                   class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Edit</th>
                        <th>Salon</th>
                        <th>Owner </th>
                        <th>Adress</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>

            @*border surownd the table*@
            <div class="panel panel-primary">
                @*border header*@
                <div class="panel-heading">
                    Salon Information
                </div>
                @*border body*@
                <div class="panel-body">

                    @*element*@

                    <div class="form-group">
                        <label for="salonname">Salon Name</label>
                        <input type="text" id="salonname" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="ownername">Owner Name</label>
                        <input type="text" id="ownername" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="adress">Adress</label>
                        <input type="text" id="adress" class="form-control" />
                    </div>
                </div>
                <div class="panel-footer">

                    @*Edit button*@
                    <button type="button" id="updatebutton"
                            class="btn btn-primary"
                            onclick="updateClick();">
                        Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () { salonList(); });

    var urlApi = '/api/salons/';
    var salons = [];
    var tokenKey = 'tokenInfo';

    function errorHandler(x) {
        if (x.status === 403 || x.status === 401) {
            alert("Sorry, your session has expired. Please login again to continue");
            window.location.href = "/Authorize/index";
        } else {
            alert("Error" + x.status);
        }
    }

    function getToken(xhr) {
        var token = localStorage.getItem(tokenKey);
        xhr.setRequestHeader("Authorization", "Bearer " + token);
    }

    // Get All
    function salonList() {
        $.ajax({
            url: urlApi,
            type: "GET",
            dataType: "json",
            beforeSend: function (xhr) {
                getToken(xhr);
            },
            success: function (salon) {
                salonListSuccess(salon);
            },
            error: function (event) {
                errorHandler(event);
            }
        });

    };


    var Salon = {
        SalonId: 0,
        SalonName: "",
        OwnerName: "",
        Adress: ""
    };


    function updateClick() {
        Salon.SalonId = $("#salonid").val();
        Salon.OwnerName = $("#ownername").val();
        Salon.SalonName = $("#salonname").val();
        Salon.Adress = $("#adress").val();

        if ($("#updatebutton").text().trim() === "Add") {
            addSalon(Salon);
        }
        else {
            updateSalon(Salon);
        }
    }


    // POST
    function addSalon(salon) {
        $.ajax({
            url: urlApi,
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(salon),
            beforeSend: function (xhr) {
                getToken(xhr);
            },
            success: function () {
              },
            error: function (event) {
                errorHandler(event);
            }
        });
    }

    // PUT
    function updateSalon(salon) {
        $.ajax({
            url: urlApi,
            type: 'PUT',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(salon),
            beforeSend: function (xhr) {
                getToken(xhr);
            },
            success: function () {
            },
            error: function (event) {
                errorHandler(event);
            }
        });
    }

    function salonAddSuccess(salon) {
        salonAddRow(salon);
        formClear();
    };

    function formClear() {
        $("#salonname").val("");
        $("#ownername").val("");
        $("#adress").val("");
    };


    function salonListSuccess(salon) {
        $.each(salon.CollectionSalonDto, function (i, salon) {
            // Add car to the array
            salons[i] = salon;
            // Add row to the product table
            salonAddRow(salon);
        });
    }



    function salonAddRow(salon) {
        // Chack the exist tbody
        if ($("#salonTable tbody").length === 0) {
            $("#salonTable").append("<tbody></tbody>");
        }
        // Add row to table
        $("#salonTable").append(productBuildTableRow(salon));
    }


    function productBuildTableRow(salon) {
        var ret =
           "<tr>" +
    // Button Edit in the each row in the table
            "<td>" + "<button type='button' " +
            "onclick='salonGet(this);' " +
            "class='btn btn-default' " +
            "data-id='" + salon.SalonId + "'>" +
            "<span class='glyphicon glyphicon-edit' />"
            + "</button>" + "</td >" +
    // Data
            "<td><a href='/SalonInfo/Index/" + salon.SalonId + "/'" + ">" + salon.SalonName + "</a></td>" +
            "<td>" + salon.OwnerName + "</td>" +
            "<td>" + salon.Adress + "</td>" +

    // Button Delete in the each row in the table
            "<td>" + "<button type='button' " +
            "onclick='salonRemove(this);' " +
            "class='btn btn-default' " +
            "data-id='" + salon.SalonId + "'>" +
            "<span class='glyphicon glyphicon-remove' />"
            + "</button>" + "</td >" +
            "</tr>";
        return ret;
    }


    // Exception
    function handleException(request) {
        var msg = "";
        msg += "Code: " + request.status + "\n";
        msg += "Text: " + request.statusText + "\n";
        if (request.responseJSON != null) {
            msg += "Message" +
                request.responseJSON.Message + "\n";
        }
        alert(msg);
    }


    // Click left button: glyphicon-edit
    function salonGet(ctl) {

        var id = $(ctl).data("id");

        $("#salonid").val(id);

        for (let salon of salons) {
            if (salon.SalonId === id) {
                salonToFields(salon);
                $("#updatebutton").text("Update");
                return;
            }
        }
    }


    function salonRemove(ctl) {
        var id = $(ctl).data("id");

        $("#salonid").val(id);

        $.ajax({
            url: urlApi + id,
            type: 'DELETE',
            dataType: 'json',
            beforeSend: function (xhr) {
                getToken(xhr);
            },
            success: function () {
                formClear();
            },
            error: function (event) {
                errorHandler(event);
            }
        });
    }


    function salonToFields(salon) {
        $("#salonname").val(salon.SalonName);
        $("#ownername").val(salon.OwnerName);
        $("#adress").val(salon.Adress);
    }

</script>
