﻿
@Styles.Render("~/Content/CarCss/authorization.css")
<!-- Button to open the modal -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-9"><h2>Wellcome to the Car's salon</h2></div>
            <div class="col-sm-3">
                <button type="button" data-toggle="modal" class="btn btn-info"
                        data-target="#myModal" data-id="newMarkbutton">
                    Sign Up
                </button>

            </div>
        </div>
    </div>
</div>



@*Modal Window*@

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sign Up Form</h4>
            </div>

            <div class="modal-body">

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="username" type="text" class="form-control" value="" placeholder="username or email">
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" placeholder="password">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="registr" data-dismiss="modal" class="btn btn-default">Registration</button>
            </div>
        </div>

    </div>
</div>

<script>

    $("#registr").click(function () {

       // localStorage.clear();
        var user = {
            UserName: $('#username').val(),
            Password: $('#password').val()
        };
        $.ajax({
            url: '/api/account/',
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(user),
            success: function () {

                setToken();
               
            },
            error: function () {
                alert("Error");
            }
        });
    });


    function setToken() {
        var tokenKey = "tokenInfo";

        var loginData = {
            grant_type: 'password',
            username: $('#username').val(),
            password: $('#password').val()
        };

        $.ajax({
            type: 'POST',
            url: '/token',
            data: loginData,
            success: function (data) {
                localStorage.setItem(tokenKey, data.access_token);
                alert("Token was created.");
                window.location.replace("/Home/index");
            },
            error: function () {
                alert('Erro while get token');
            }
        });
    }


</script>
