﻿
<div class="container">

    <div class="page-header ">
        <h3>Cars Catalog</h3>
    </div>
    <div class="col-sm-6">
        <a href="/Salon/Index/" id="addsalonbutton" class="btn btn-info">Salons</a>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">

            </div>

            <br />
            @* hidden field *@
            <input type="hidden" id="carid" value="0" />

            @*table*@
            <table id="carTable"
                   class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Edit</th>
                        <th>Mark Name</th>
                        <th>Salons Name</th>
                        <th>Manufacture Name</th>
                        <th>Price</th>
                        <th>Color</th>
                        <th>Weight</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>


            @*border surownd the table*@
            <div class="panel panel-primary">
                @*border header*@
                <div class="panel-heading">
                    Product Information
                </div>
                @*border body*@
                <div class="panel-body">

                    @*element*@

                    <div class="form-group">
                        <label for="markname">Mark Name</label>
                        <select id="markname" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="modelname">Salons Name</label>
                        <select id="modelname" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="manufacturename">Manufacture Name</label>
                        <select id="manufacturename" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="color">Color</label>
                        <select class="form-control" id="color"></select>
                    </div>
                    <div class="form-group">
                        <label for="weight">Weight</label>
                        <input type="text" class="form-control" id="weight" />
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" id="price" class="form-control" />
                    </div>
                </div>
                <div class="panel-footer">

                    @*Edit button*@
                    <button type="button" id="updatebutton"
                            class="btn btn-primary"
                            onclick="updateClick();">
                        Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () { modelList() });

    var urlApi = '/api/car/';
    var arrayCar = [];
    var carss;
    var tokenKey = 'tokenInfo';

    // Get All
    function modelList() {
        $.ajax({
            url: urlApi,
            type: "GET",
            dataType: "json",
            beforeSend: function (xhr) {
                getToken(xhr);
            },
            success: function (cars) {
                carListSuccess(cars);
            },
            error: function (event) {
                errorHandler(event);
            }
        });

    };

    function errorHandler(x) {
        if (x.status === 403 || x.status === 401) {
            alert("Sorry, your session has expired. Please login again to continue");
            window.location.href = "/Authorize/index";
        } else {
            alert("Error" + x.status);
        }
    }

    function getToken(xhr) {
        var token = localStorage.getItem(tokenKey);
        xhr.setRequestHeader("Authorization", "Bearer " + token);
    }

    // Object Car
    var Car = {
        Id: 0,
        ModelName: "",
        MarkName: "",
        ManufactureName: "",
        Price: "",
        Color: "",
        Weight: ""
    };

    // Handler Edit button
    function updateClick() {
        Car = new Object();
        Car.Id = $("#carid").val();
        Car.ModelName = $("#modelname :selected").text();
        Car.MarkName = $("#markname :selected").text();
        Car.ManufactureName = $("#manufacturename :selected").text();
        Car.Price = $("#price").val();
        Car.Color = $("#color :selected").text();
        Car.Weight = $("#weight").val();
        if ($("#updatebutton").text().trim() === "Add") {
            addCar(Car);
        }
        else {
            updateCar(Car);
        }
    }

    // POST
    function addCar(car) {
        $.ajax({
            url: urlApi,
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(car),
            beforeSend: function (xhr) {
                getToken(xhr);
            },
            success: function () {
            },
            error: function (event) {
                errorHandler(event);
            }
        });
    }

    // PUT
    function updateCar(car) {
        $.ajax({
            url: urlApi,
            type: 'PUT',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(car),
            beforeSend: function (xhr) {
                getToken(xhr);
            },
            success: function () {
                $("#updatebutton").text("Add");
            },
            error: function (event) {
                errorHandler(event);
            }
        });
    }

    function carAddSuccess(car) {
        carsAddRow(car);
        formClear();
    };

    function formClear() {
        $("#modelname").val("");
        $("#markname").val("");
        $("#manufacturename").val("");
        $("#color").val("");

        $("#price").val("");
        $("#weight").val("");
    };

    // Foreach for the Cars object
    function carListSuccess(cars) {

        getAllModels(cars);
        getAllMarks(cars);
        getAllManufactures(cars);
        getAllColors(cars);

        $.each(cars.CollectionCarsFullInformationDto, function (i, car) {
            // Add car to the array
            arrayCar[i] = car;
            // Add row to the product table
            carsAddRow(car);
        });
    }

    //Select All Countries
    function getAllManufactures(cars) {
        var mySelect = $("#manufacturename");

        $.each(cars.CollectionManufacturesDto, function (i, manuf) {
            mySelect.append($("<option></option>").val(i).html(manuf));
        });
    }

    function getAllModels(cars) {
        var mySelect = $("#modelname");

        $.each(cars.CollectionModelsDto, function (i, model) {
            mySelect.append($("<option></option>").val(i).html(model));
        });
    }

    function getAllMarks(cars) {
        var mySelect = $("#markname");

        $.each(cars.CollectionMarksDto, function (i, mark) {
            mySelect.append($("<option></option>").val(i).html(mark));
        });
    }

    // Slect ALL Colors
    function getAllColors(cars) {
        var mySelect = $("#color");

        $.each(cars.CollectionColorsDto, function (i, color) {
            mySelect.append($("<option></option>").val(i).html(color));
        });
    }

    function carsAddRow(car) {
        // Chack the exist tbody
        if ($("#carTable tbody").length === 0) {
            $("#carTable").append("<tbody></tbody>");
        }
        // Add row to table
        $("#carTable").append(productBuildTableRow(car));
    }

    function productBuildTableRow(car) {
        var ret =
            "<tr>" +
                // Button Edit in the each row in the table
                "<td>" + "<button type='button' " +
                "onclick='addCarForEdit(this);' " +
                "class='btn btn-default' " +
                "data-id='" + car.Id + "'>" +
                "<span class='glyphicon glyphicon-edit' />"
                + "</button>" + "</td >" +
                // Data
                "<td>" + car.MarkName + "</td>" +
                "<td>" + car.ModelName + "</td>" +
                "<td>" + car.ManufactureName + "</td>" +
                "<td>" + car.Price + "</td>" +
                "<td>" + car.Color + "</td>" +
                "<td>" + car.Weight + "</td>" +

                // Button Delete in the each row in the table
                "<td>" + "<button type='button' " +
                "onclick='carRemove(this);' " +
                "class='btn btn-default' " +
                "data-id='" + car.Id + "'>" +
                "<span class='glyphicon glyphicon-remove' />"
                + "</button>" + "</td >" +
                "</tr>";
        return ret;
    }


    function addCarForEdit(ctl) {
        var id = $(ctl).data("id");
        $("#carid").val(id);
        for(let car of arrayCar) {
            if (car.Id === id) {
                carToFields(car);
                $("#updatebutton").text("Update");
                return;
            }
        }
    };


    function carRemove(ctl) {
        var id = $(ctl).data("id");
        $("#carid").val(id);
        $.ajax({
            url: urlApi + id,
            type: 'DELETE',
            dataType: 'json',
            beforeSend: function (xhr) {
                getToken(xhr);
            },
            success: function () {
                formClear();
            },
            error: function (event) {
                errorHandler(event);
            }
        });
    }

    // Upgrate form's fields
    function carToFields(car) {
        $("#markname").val("");
        $("#modelname").val("");
        $("#manufacturename").val("");
        $("#color").val("");

        $("#price").val(car.Price);
        $("#weight").val(car.Weight);
    }

</script>