﻿<div class="container">

    <div class="page-header">
        <h3>
            Salon Name: <span id="salonnameheader" style="color: forestgreen; font-weight: bold"></span>
        </h3>
    </div>

    <div class="col-sm-4">
        <div class="form-group">
            <p><a class="btn btn-info" id="backtoindex" href="/Salon/Index/">Salons</a></p>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <div>
            </div>
            <br />
            @* hidden field *@
            <input type="hidden" id="infoid" value="0" />

            <h4>Existing Cars</h4>
            @*table*@
            <table id="salonInfoTable"
                   class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Edit</th>
                        <th>Mark</th>
                        <th>Salon</th>
                        <th>Price</th>
                        <th>Color</th>
                        <th>Count</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="selectmark">Mark</label>
                        <select id="selectmark" class="form-control">
                            <option selected disabled></option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="selectmodel">Model</label>
                        <select id="selectmodel" class="form-control">
                            <option selected disabled></option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="saerchclick" style="color: transparent">Lfff</label>
                        <p>
                            <button type="button" id="saerchclick" class="btn btn-default"
                                    onclick="clickSearch();" data-dismiss="modal"> Search
                            </button>
                        </p>
                    </div>
                </div>
            </div>


            <h4>Available Cars</h4>
            <table id="availablecarforaddtable"
                   class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Add</th>
                        <th>Mark</th>
                        <th>Salon</th>
                        <th>Price</th>
                        <th>Color</th>
                        <th>Count</th>
                    </tr>
                </thead>
            </table>

            @*Modal Window*@

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit Data</h4>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label for="editmarkname">Mark</label>
                                <select id="editmarkname" class="form-control"></select>
                            </div>

                            <div class="form-group">
                                <label for="editmodelname">Salons</label>
                                <select id="editmodelname" class="form-control"></select>
                            </div>

                            <div class="form-group">
                                <label for="editprice">Price</label>
                                <input type="text" id="editprice" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="editcolor">Color</label>
                                <select id="editcolor" class="form-control"></select>
                            </div>

                            <div class="form-group">
                                <label for="edittotal">Count</label>
                                <input type="text" id="edittotal" class="form-control" />
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        salonInfo();
        //$("#myBtn").click(function () {
        //    $("#myModal").modal();
        //});
    });

    var tokenKey = 'tokenInfo';

    // Handler for HTTP status
    function errorHandler(x) {
        if (x.status === 403 || x.status === 401) {
            alert("Sorry, your session has expired. Please login again to continue");
            window.location.href = "/Authorize/index";
        } else {
            alert("Error" + x.status);
        }
    }

    // Get Token from Local Storage
    function getToken(xhr) {
        var token = localStorage.getItem(tokenKey);
        xhr.setRequestHeader("Authorization", "Bearer " + token);
    }

    var urlApi = '/api/salonfullinfo/';
    var salonInfoArr = [];
    var modelCollection = [];
    var markCollection = [];
    

    // Get All
    function salonInfo() {
        $.ajax({
            url: urlApi + @TempData["data"],
            type: "GET",
            dataType: "json",
            beforeSend: function (xhr) {
                getToken(xhr);
            },
            success: function (info) {
                salonInfoListSuccess(info);
            },
            error: function (event) {
                errorHandler(event);
            }
        });
    };

    // Call Modal Window
    var info = {
        SalonInfoId: 0,
        SalonInfoModelName: "",
        SalonInfoMarkName: "",
        SalonInfoPrice: 0,
        SalonInfoColor: "",
        SalonInfoTotal: 0,
        SalonInfoSalonName: ""
    };


    function updateClick(ctl) {
        var id = $(ctl).data("id");
        var d = $("#input" + id).val();
        $.each(ar,
            function(i, model) {
                if (model.SalonInfoId === id) {
                    model.SalonInfoSalonName = $("#salonnameheader").text();
                    model.SalonInfoTotal = d;
                    addSalonInfo(model);
                }
            });
    };

    // POST
    function addSalonInfo(info) {
        $.ajax({
            url: "/api/salonfullinfo/addMark/",
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(info),
            beforeSend: function (xhr) {
                getToken(xhr);
            },
            success: function (info) {
               
                $("#salonInfoTable tbody tr").remove();
                salonInfoAddSuccess(info);
                salonInfo();
            },
            error: function (event) {
                errorHandler(event);
            }
        });
    }


    function updateSalonInfo(info) {
        $.ajax({
            url: urlApi,
            type: 'PUT',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(info),
            beforeSend: function (xhr) {
                getToken(xhr);
            },
            success: function (info) {
                salonInfoAddSuccess(info);
                $("#updatebutton").text("Add");
            },
            error: function (event) {
                errorHandler(event);
            }
        });
    }


    function salonInfoAddSuccess(info) {
        salonInfoAddRow(info);
    };


    // Fill the fields from edit
    function salonInfoListSuccess(info) {
        $("#salonnameheader").html(info.CurrentSalonName);
        getAllMarks(info);
        $.each(info.CollectionSalonInfoDto,
            function (i, inf) {
                // Add car to the array
                salonInfoArr[i] = inf;
                // Add row to the product table
                salonInfoAddRow(inf);
            });
    }


    // Get all Salons
    function getAllModels(models) {
        var mySelect = $("#selectmodel");
        $.each(models.CollectionModelName,
            function (i, model) {
                mySelect.append($("<option></option>").val(i).html(model));
            });
    }

    // Get all Salonss
    function getAllMarks(marks) {
        var mySelect = $("#selectmark");

        $.each(marks.CollectionMarkName,
            function (i, mark) {
                mySelect.append($("<option></option>").val(i).html(mark));
            });
    }

    // Get all Prices
    function getAllPrices(prices) {
        var mySelect = $("#price");

        $.each(prices.CollectionPrices,
            function (i, price) {
                mySelect.append($("<option></option>").val(i).html(price));
            });
    }

    // Get all Colors
    function getAllColors(colors) {
        var mySelect = $("#color");

        $.each(colors.CollectionColors,
            function (i, color) {
                mySelect.append($("<option></option>").val(i).html(color));
            });
    }

    // Fill the field total
    function addNumbers() {
        var mySelect = $("#total");

        $.each(numbers,
            function (i, number) {
                mySelect.append($("<option></option>").val(i).html(number));
            });
    }

    function salonInfoAddRow(info) {
        // Chack the exist tbody
        if ($("#salonInfoTable tbody").length === 0) {
            $("#salonInfoTable").append("<tbody></tbody>");
        }
        // Add row to table
        $("#salonInfoTable").append(productBuildTableRow(info));
    }

    function productBuildTableRow(info) {

        var ret =
            "<tr>" +"<td>" +
                "<button type='button' " + "data-toggle='modal'" +
                "title='Add'" +
                "class='btn btn-default' " + "data-target='#myModal'" +
                "data-id='" + info.SalonInfoId + "'>" +
                "<span class='glyphicon glyphicon-edit' />" +
                "</button>" + "</td >" +

                // Data
                "<td>" + info.SalonInfoMarkName  + "</td>" +
                "<td>" + info.SalonInfoModelName+ "</td>" +
                "<td>" + info.SalonInfoPrice + "</td>" +
                "<td>" + info.SalonInfoColor + "</td>" +
                "<td>" + info.SalonInfoTotal + "</td>" +

                // Button Delete in the each row in the table
                "<td>" +
                "<button type='button' " +
                "onclick='salonInfoRemove(this);' " +
                "class='btn btn-default' " +
                "data-id='" +
                info.SalonInfoId +
                "'>" +
                "<span class='glyphicon glyphicon-remove' />" +
                "</button>" +
                "</td >" +
                "</tr>";
        return ret;
    }


    function salonInfoGet(ctl) {

        // Get data from data-id attr
        var id = $(ctl).data("id");

        $("#infoid").val(id);
        $.ajax({
            url: urlApi + id,
            type: 'GET',
            dataType: 'json',
            beforeSend: function (xhr) {
                getToken(xhr);
            },
            success: function () {

                $("#updatebutton").text("Update");
            },
            error: function (event) {
                errorHandler(event);
            }
        });
    }

    var Model = {
        ModelName: "",
        MarkName: "",
        SalonName: ""
    }

    function clickSearch() {
        $("#availablecarforaddtable tbody tr").remove();
        getSortModel();
    }


    // POST for sort data
    function getSortModel() {
        Model.SalonName = $("#salonnameheader").text();
        Model.ModelName = $("#selectmodel :selected").text();
        Model.MarkName = $("#selectmark :selected").text();

        $.ajax({
            url: "/api/salonfullinfo/",
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(Model),
            beforeSend: function (xhr) {
                getToken(xhr);
            },
            success: function (model) {
                sortDataListSuccess(model);
            },
            error: function (event) {
                errorHandler(event);
            }
        });
    }

    var ar = [];

    // Fill the sort table
    function sortDataListSuccess(info) {
        $("#selectmark option ").remove();
        $("#selectmodel option ").remove();

        getAllModels(info);
        getAllMarks(info);

        $.each(info.CollectionSalonInfoDto,
            function (i, inf) {
                // Add row to the availableMark table
                ar[i] = inf;
                inf.SalonInfoId = i;
                addAvailableRow(inf);
            });
    }
    

    function addAvailableRow(info) {
        // Chack the exist tbody
        if ($("#availablecarforaddtable tbody").length === 0) {
            $("#availablecarforaddtable").append("<tbody></tbody>");
        }
        // Add row to table
        $("#availablecarforaddtable").append(availableBuildTableRow(info));
    }
    //"data-toggle='modal'" +
    //"data-target='#myModal'" +

    function availableBuildTableRow(info) {
        var ret =
            "<tr>" +
                "<td>" +
                "<button type='button' " +
                "onclick='updateClick(this);' " +
                "class='btn btn-default' " +
                "data-id='" + info.SalonInfoId + "'>" +
                "<span class='glyphicon glyphicon-ok' />" +
                "</button>" + "</td >" +
                "<td>" + info.SalonInfoMarkName  + "</td>" +
                "<td>" + info.SalonInfoModelName + "</td>" +
                "<td>" + info.SalonInfoPrice + "</td>" +
                "<td>" + info.SalonInfoColor + "</td>" +
                "<td>" + "<input type='text'class='form-control' id='input" + info.SalonInfoId +"' />" + "</td>" +
                "</tr>";
        return ret;
    }


    function salonInfoRemove(ctl) {
        var id = $(ctl).data("id");
        $("#infoid").val(id);
        $.ajax({
            url: urlApi + id,
            type: 'DELETE',
            dataType: 'json',
            success: function () {
            }

        });
    }

</script>
